<div class="<%= file_name %>-component">
  <!-- Add your component HTML here -->
  <% attributes.each do |attribute| %>
    <%= attribute.name %>: <%= "<%%= @#{attribute.name} %%>" %>
  <% end %>
</div>