<%# This file overrides the original <%= file_name %>_component.html.erb from the ViewComponentToolkit gem. %>
<%# You can modify the template here: %>

<div class="<%= file_name %>-component">
  <!-- Add your overridden component HTML here -->
</div>
